*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
}

main {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 1rem;
  margin: 2rem;
  border-radius: 8px;
  background-color: #081f6b;
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);
  color: rgb(255, 255, 255);
  height: 95vh;
}

.header-title {
  text-align: center;
}

.header-desk {
  display: flex;
  justify-content: center;
  font-size: 0.85rem;
  font-style: italic;
  margin: 5px 0;
  color: whitesmoke;
}

.todo-form {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #fff;
}

.todo-input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
}

.todo-input:focus {
  outline: 2px solid rgb(6, 84, 136);
}

.add-task-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color:#081f6b;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-task-button:hover {
  background-color: rgb(6, 84, 136);
}

.tasks-container {
  flex: 1;
  overflow-y: auto;
  margin-top: 1rem;
  padding-right: 0.5rem;
  scroll-behavior: smooth;
}

.active-todo-section, .completed-todo-section {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.active-todo-section:hover, .completed-todo-section:hover {
  background-color: whitesmoke;
  color: rgb(1, 31, 51);
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem;
  margin: 5px;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.todo-item {
  flex: 1;
  margin-right: 0.2rem;
  list-style-type: disc;
  list-style-position: inside;
  word-break: break-word;
  line-height: 1;
  color:  rgb(6, 84, 136);
}

.todo-buttons {
  display: flex;
  gap: 0.3rem;
  flex-shrink: 0;
}

.complete-btn, .trash-btn {
  padding: 0.2rem 0.6rem;
  border-radius: 4px;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.complete-btn {
  background-color: #081f6b;
  color: white;
}

.complete-btn:hover{
  background-color: rgb(6, 84, 136);
}

.trash-btn {
  background-color: rgb(2, 0, 7);
  color: white;
}

.trash-btn:hover {
  background-color: rgb(2, 0, 7);
}

.completed-list .todo {
  opacity: 0.7;
  background-color: #e0e0e0;
}
